.btn-primary{
	color: $color-text;
	display: block;
	text-align: right;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	width: 100%;
	cursor: pointer;

	@extend .font-sourceSerifPro;
}