.btn-primary{
	color: $color-text;
	display: block;
	text-align: right;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	width: 100%;
	cursor: pointer;
	z-index: 2;

	@extend .font-sourceSerifPro;
}

.btn-secondary{
	padding: 10px 60px;
	text-transform: uppercase;
	border: solid 1px $color-text;
	text-decoration: none;
	color: $color-text;
	display: inline-block;
	z-index: 2;
}