.success{
	background-color: $color-presentation;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
	text-align: center;

	&::before{
		content: "";
		background-image: url(../img/oval.svg);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		transform: rotate(34deg);
		top: 0;
		left: 50%;
		width: 150%;
		height: 100%;
		opacity: 0.2;

		@include desktop{
			top: 20%;
			left: 25%; 
			width: 800px;
			height: 800px;
			transform: rotate(15deg);
		}
	}

	.btn-primary{
		text-align: center;
	}
}

